/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* Resets */

html,
body,
div,
p,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
}

/* Styling */

.content-wrapper {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  height: min-content;
  border-radius: 18px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
}

.qr-image {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin: 15px 15px 0 15px;
}

.title {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.25;
  text-align: center;
  margin: 25px 20px 0 20px;
}

.descr {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 1.3;
  text-align: center;
  margin: 16px 25px 40px 25px;
}
